/* ==========================================================================
   Navigation
   ========================================================================== */

.c-navigation {
background:#464040;
padding:1rem;
  
  .c-navigation__container {
    height:auto;

  }

.navigation-header {
  vertical-align:middle;
  display:table-cell;
}

  .c-navigation__image {
  font-size:2.5rem;
  color:#F2F4F6;
  }

  .c-navigation__title {
  margin-top:1.1rem;  
  max-width:80rem;
  width:80rem;
  padding-left:2rem;

  a {
  font-weight: bold;
  color:#F2F4F6;
  font-size:2.25rem;
  }

  }

  @media (max-width: 60rem) {

.c-navigation__container {
  }

.navigation-header {
}

  .c-navigation__image {
  }

  .c-navigation__title {
  font-size:2.5rem;
  }

  }
}